.topnav {
  background-color: black;
}
.nav-p {
  font-size: 1.7rem;
}

a:link a:hover {
  color: white;
}
a:visited {
  color: red;
}
ul {
  color: royalblue;
  padding: 20px;
}
footer {
  height: 1rem;
}
img {
  height: 70px;
  widows: 70px;
}
#my_img {
  height: 130px;
  widows: 850px;
}
