/* Write your media queries and flexbox CSS below */
@media screen and (min-width: 320px) {
  .site-header__nav .site-header__nav__navItem {
    display: inline;
  }
}

@media screen and (min-width: 517px) {
  .site-header {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .site-header {
    display: flex;
    justify-content: space-between;
  }
}
