.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--third {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.countries--fourth {
  flex-direction: column-reverse;
  justify-content: space-between;
}

.countries--first {
  display: flex;
  justify-content: right;
  font-size: 12px;
}

.countries--second {
  justify-content: space-between;
}
